.rPagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  user-select: none;
}
.rPagination .rPage-item .rPage-link {
  background-color: white;
  margin: 2px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  overflow: hidden;
}
.rPagination .rPage-item.active .rPage-link {
  background-color: var(--main-color);
}
.rPagination .rPage-item.active .rPage-link {
  color: white;
}
.rPagination .rPage-item.disabled .rPage-link,
.rPagination .rPage-item.disabled .rPage-link svg {
  background-color: rgba(255, 255, 255, 0.226);
  cursor: no-drop;
}
.rPagination .rPage-item.disabled .rPage-link {
  cursor: no-drop;
}
.rPagination .rPage-item .rPage-link svg {
  background-color: white;
  color: black;
  font-size: 26px;
  height: 100%;
  width: 100%;
}
